@model WebQLThuVien.Models.CTPhieuMuon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTPhieuMuon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuMuonSach.MaTheDocGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuMuonSach.MaTheDocGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCTPhieuMuon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
