@model IEnumerable<WebQLThuVien.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSach.TenLoaiSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NXB.TenNhaXuatBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TacGia.TenTacGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TriGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSach.TenLoaiSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NXB.TenNhaXuatBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TacGia.TenTacGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamXuatBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TriGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSach }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSach })
        </td>
    </tr>
}

</table>

<h3>List Sach</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>MaSach</th>
        <th>TenSach</th>
        <th>MaLoaiSach</th>
        <th>MaTacGia</th>
        <th>MaNhaXuatBan</th>
        <th>NamXuatBan</th>
        <th>NgayNhap</th>
        <th>TriGia</th>
        <th>SoLuong</th>
    </tr>
    @foreach(var sach in ViewBag.ListSach)
    {
        <tr>
            <td>@sach.MaSach</td>
            <td>@sach.TenSach</td>
            <td>@sach.MaLoaiSach</td>
            <td>@sach.MaTacGia</td>
            <td>@sach.MaNhaXuatBan</td>
            <td>@sach.NamXuatBan</td>
            <td>@sach.NgayNhap</td>
            <td>@sach.TriGia</td>
            <td>@sach.SoLuong</td>
        </tr>
    }
</table>
<br /><br />
<a class="btn btn-success" href="@Url.Action("exportReport")">Dowload Report</a>