@model WebQLTV.Models.TheDocGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TheDocGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiDocGia.TenLoaiDocGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDocGia.TenLoaiDocGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTheDocGia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
