@model WebQLThuVien.Models.PhieuThuTienPhat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuThuTienPhat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuTraSach.MaPhieuTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuTraSach.MaPhieuTra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienThu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienThu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConLai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhieuThuTienPhat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
