@model IEnumerable<WebQLThuVien.Models.PhieuThuTienPhat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhieuTraSach.MaPhieuTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTienThu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConLai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuTraSach.MaPhieuTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTienThu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConLai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuThuTienPhat }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuThuTienPhat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuThuTienPhat })
        </td>
    </tr>
}

</table>
