@model WebQLTV.Models.Sach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiSach.TenLoaiSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSach.TenLoaiSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan.TenNhaXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNhaXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia.TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia.TenTacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamSanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TriGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TriGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
